@import './_index';
.home {
  height: 100%;
  display: grid;
  grid-gap: 5vw;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  justify-content: stretch;
  align-items: center;

  @include mobile {
    display: none;
    display: block;
  }
}

.loading{
  // text-align: center;
  @include loading;
}