@import './_index';
.navbar {
  height: 40px;
  width: 100%;
  background-color: $navbar-footer-color;
  display: grid;
  justify-items: center;
  align-items: end;
  grid-template-columns: 200px 1fr 40px;
}

.site-name {
  grid-column-start: 1;
  justify-self: left;
  margin: 0 10px;

  text-decoration: none;
  color: $accent-color;
  line-height: 0;

}

.navbar-home {
  grid-column-start: 3;

 span {
    height: 28px;
    width: 28px;
    content: url("../icons/home-white.svg");
    }

  &.active span {
      content: url("../icons/home-active.svg");
  }
}

// would have liked to have added user menu in navbar
// .navbar-user-menu {
//   grid-column-start: 4;

//   img {
//     padding-bottom: 1px;
//     height: 18px;
//     content:url("../icons/user-white.svg");
//   }

  // &.active img {
  //   content:url("../icons/user-active.svg");
  // }
// }



