@import './_index';
.post-form{
  @include square;
  @include sticky;
  grid-column-start: 1;
  grid-row-start: 2;

  .input-section{
    text-align: center;

    form{
      @include mobile {
        margin: 6% 0;
      }

      * {
        margin: 1vw auto;
        font-family: 'Permanent Marker', cursive;
        font-size: 4.5vw;
        background-color: $accent-color;
        width: calc(100% - 40px);

        @include mobile{
          font-size: 8vw;
          margin: 2.2vw auto;

          // fixes mobile overflow bug
          width: 80%;
        }
      }

      button {
        // fix padding bug
        width: calc(100% - 34px);
        border-width: 2px;
        border-color: #ffffff #2d2d2d #2d2d2d #ffffff ;

        @include mobile{
          // matches width of inputs
          // on my phone but not browswer imitating phone
          width: 89%;
        }
      }

    }

  }

}