@import './_index';

.user-card {
@include square;
@include box-shadow;

// remove link styling
text-decoration: none;
color: $secondary-font-color;

@include mobile {
  overflow: hidden;
  // fixes safari bug
  height: calc(100vw - 10vw);
}

  p {
    position:absolute;
    width: calc(100% - 9px);
    bottom: 0;
    left:0;
    margin: 0;
    padding: 10px 0px 10px 10px;
    background-color: rgba(	45, 45, 45, 0.9);
    font-size: 2.5vw;

    @include mobile {
      font-size: 9vw;
    }
    .user-profie & {
      font-size: 4vw;

      @include mobile {
        font-size: 9vw;
      }
    }
  }

  img {
    min-width: 162px;
 
    // needed to stretch user photos properly across mobile and browsers
    max-width: 100%;
    width: 100%;
    height: 100%;

    @include mobile {
      // fixes mobile bug where img doesn-t stretch
      height: calc(100vw - 10vw);
    }
  }
}
.user-card:hover {
  cursor: pointer;
  color: $accent-color;

  @include mobile {
    // remove hover color 
    color: inherit;
  }
}