@import './_index';
.user-card {
@include square;
// remove link styling
text-decoration: none;
color: #FFFFFF;

  p {
    position:absolute;
    width: calc(100% - 10px);
    bottom: 0;
    left:0;
    margin: 0;
    padding: 10px 0px 10px 10px;
    background-color: rgba(	45, 45, 45, 0.9);
    font-size:1.5em;
  }

  img {
    display: block;
    max-width: 100%;
    min-width: 162px;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.23);
  }
}
.user-card:hover {
  cursor: pointer;
  color: #f9f577;
}