.footer {
  height: 30px;
  width: 100%;
  background-color: #8c8c8c;
  vertical-align: bottom;
  align-items: end;
  position:relative;
  p {
    position:absolute; bottom:5px;
    margin: 0 10px;
  }
}