.navbar {
  height: 40px;
  width: 100%;
  // background-color: #2d2d2d;
  background-color: #000000;
  display: grid;
  justify-items: center;
  align-items: end;
  grid-template-columns: 200px 1fr 30px 30px;
}

.site-name {
  justify-self: left;
  grid-column-start: 1;
  margin: 0 10px;
}

.navbar-home {
  grid-column-start: 3;

 img {
    height: 20px;
    content:url("../icons/home-white.svg");
    }

  &.active img {
      content:url("../icons/home-active.svg");
  }
}

.navbar-user-menu {
  grid-column-start: 4;

  img {
    padding-bottom: 1px;
    height: 18px;
    content:url("../icons/user-white.svg");
  }

  &.active img {
    content:url("../icons/user-active.svg");
  }
}



