.App {
}

.navbar {
  grid-area: navbar;
}

.content {
  margin: 5vw;
  grid-area: content;
}

.footer {
  grid-area: footer;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: 40px 1fr 30px;
  grid-template-areas: 
    "navbar"
    "content"
    "footer";
}
